name: build
on:
  push:
    branches:
      - '*'
defaults:
  run:
    shell: bash
jobs:
  build-and-test-release:
    name: build-and-test-release
    runs-on: ${{ matrix.os }}
    env:
      package_name: minecraft-relay
    strategy:
      matrix:
        platform: [ubuntu18, macos, windows]
        include:
          - platform: ubuntu18
            os:       ubuntu-18.04
            target:   x86_64-unknown-linux-gnu

          - platform: macos
            os:       macos-latest
            target:   x86_64-apple-darwin

          - platform: windows
            os:       windows-2019
            target:   x86_64-pc-windows-msvc
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: set package_version
        run: |
          echo "package_version=$(cargo pkgid --package ${{ env.package_name }} | cut -d\# -f2 | cut -d: -f2)" >> "$GITHUB_ENV"

      - name: cargo build --release
        run:  cargo build --release --verbose --target=${{ matrix.target }}

      - name: upload artifacts for non-windows
        if:   matrix.platform != 'windows'
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.package_name }}-${{ env.package_version }}-${{ matrix.platform }}-${{ github.workflow }}-${{ github.run_number }}-${{ github.sha }}
          path: |
            target/${{ matrix.target }}/release/${{ env.package_name }}

      - name: upload artifacts for windows
        if:   matrix.platform == 'windows'
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.package_name }}-${{ env.package_version }}-${{ matrix.platform }}-${{ github.workflow }}-${{ github.run_number }}-${{ github.sha }}
          path: |
            target/${{ matrix.target }}/release/${{ env.package_name }}.exe
            target/${{ matrix.target }}/release/${{ env.package_name }}.pdb

      - name: cargo test --release
        run:  cargo test --release --verbose --target=${{ matrix.target }}
